{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>myVibe | Admin</title>

  <!-- Bulma is included -->
  <link href="{% static 'assets/admin/css/main.css' %}" rel="stylesheet">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="app">
    <nav id="navbar-main" class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
          <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
        </a>
        <div class="navbar-item has-control">
          <div class="control"><input placeholder="Search everywhere..." class="input"></div>
        </div>
      </div>
      <div class="navbar-brand is-right">
        <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
          <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
        </a>
      </div>
      <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
        <div class="navbar-end">
          
          <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
            <a class="navbar-link is-arrowless">
              <div class="is-user-avatar">
                <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
              </div>
              <div class="is-user-name"><span>userBrian</span></div>
              <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
            </a>
            <div class="navbar-dropdown">
              <a href="profile.html" class="navbar-item">
                <span class="icon"><i class="mdi mdi-account"></i></span>
                <span>My Profile</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-settings"></i></span>
                <span>Settings</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-email"></i></span>
                <span>Messages</span>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log Out</span>
              </a>
            </div>
          </div>
          <a href="https://justboil.me/bulma-admin-template/free-html-dashboard/" title="About" class="navbar-item has-divider is-desktop-icon-only">
            <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
            <span>About</span>
          </a>
          <a title="Log out" class="navbar-item is-desktop-icon-only">
            <span class="icon"><i class="mdi mdi-logout"></i></span>
            <span>Log out</span>
          </a>
        </div>
      </div>
    </nav>
    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div class="aside-tools-label">
          <span><b>Admin</b> myVibe</span>
        </div>
      </div>
      <div class="menu is-menu-main">
        <!-- Dashboard -->
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li>
            <a href="{% url 'admin_dashboard' %}" class="{% if request.resolver_match.url_name == 'admin_dashboard' %}is-active{% endif %} has-icon">
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="{% url 'view_interests' %}" class="{% if request.resolver_match.url_name == 'view_interests' %}is-active{% endif %} has-icon">
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Interests</span>
            </a>
          </li>
          
        </ul>
    
        <!-- Users Management -->
        <p class="menu-label">Users</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
              <span class="menu-item-label">All Users</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-shield-account"></i></span>
              <span class="menu-item-label">User Roles</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-account-off"></i></span>
              <span class="menu-item-label">Banned Users</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-file-document"></i></span>
              <span class="menu-item-label">User Activity Logs</span>
            </a>
          </li>
        </ul>
    
        <!-- Event Management -->
        <p class="menu-label">Event Management</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-calendar"></i></span>
              <span class="menu-item-label">All Events</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-calendar-plus"></i></span>
              <span class="menu-item-label">Create Event</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-label"></i></span>
              <span class="menu-item-label">Event Categories</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-alert"></i></span>
              <span class="menu-item-label">Event Reports</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-chart-line"></i></span>
              <span class="menu-item-label">Event Analytics</span>
            </a>
          </li>
        </ul>
    
        <!-- Content Management -->
        <p class="menu-label">Content Management</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-file-document-box"></i></span>
              <span class="menu-item-label">Posts/Content</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-image-multiple"></i></span>
              <span class="menu-item-label">Media Library</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-comment"></i></span>
              <span class="menu-item-label">Comments/Reviews</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-tag"></i></span>
              <span class="menu-item-label">Content Categories</span>
            </a>
          </li>
        </ul>
    
        <!-- Messaging and Communication -->
        <p class="menu-label">Messaging and Communication</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-email"></i></span>
              <span class="menu-item-label">Messages</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-bullhorn"></i></span>
              <span class="menu-item-label">Announcements</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-email-outline"></i></span>
              <span class="menu-item-label">Email Templates</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-help-circle"></i></span>
              <span class="menu-item-label">Support Tickets</span>
            </a>
          </li>
        </ul>
    
        <!-- Analytics and Reports -->
        <p class="menu-label">Analytics and Reports</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-chart-bar"></i></span>
              <span class="menu-item-label">User Analytics</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-chart-areaspline"></i></span>
              <span class="menu-item-label">Event Analytics</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-cash"></i></span>
              <span class="menu-item-label">Revenue Reports</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-traffic-light"></i></span>
              <span class="menu-item-label">Traffic Analytics</span>
            </a>
          </li>
        </ul>
    
        <!-- Settings and Configuration -->
        <p class="menu-label">Settings and Configuration</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-cog"></i></span>
              <span class="menu-item-label">General Settings</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-credit-card"></i></span>
              <span class="menu-item-label">Payment Settings</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-email"></i></span>
              <span class="menu-item-label">Email Settings</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-key"></i></span>
              <span class="menu-item-label">API Keys</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-palette"></i></span>
              <span class="menu-item-label">Theme and Design</span>
            </a>
          </li>
        </ul>
    
        <!-- Security and Privacy -->
        <p class="menu-label">Security and Privacy</p>
        <ul class="menu-list">
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-lock"></i></span>
              <span class="menu-item-label">User Privacy</span>
            </a>
          </li>
          <li>
            <a href="#" class="has-icon">
              <span class="icon"><i class="mdi mdi-security"></i></span>
              <span class="menu-item-label">Security Logs</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    
    
    {% block content %}

    {% endblock %}

    {% include 'admin/footer.html'%}
</div>

<div id="sample-modal" class="modal">
  <div class="modal-background jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm action</p>
      <button class="delete jb-modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>This will permanently delete <b>Some Object</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button jb-modal-close">Cancel</button>
      <button class="button is-danger jb-modal-close">Delete</button>
    </footer>
  </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>

<script type="text/javascript" src="{% static 'assets/admin/js/main.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'assets/admin/js/chart.sample.min.js' %}"></script>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">


</body>
</html>