{% load static %}
<header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center" style="background-color: black;">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">limobrian48@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>{{user.User_Profile.county_name}} </span></i>
          
        </div>
        <div class="languages d-none d-md-flex align-items-center">
          <ul>
            {% if user.is_authenticated %}
                <li>Currently logged in as {{ user.username }}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">myVibe</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'login' %}" class="{% if request.path == '/' %} active {% endif %}">Home<br></a></li>
            <li><a href="{% url 'login' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
            <li><a href="{% url 'login' %}" class="{% if request.path == '/menu/' %}active{% endif %}">Menu</a></li>
            <li><a href="{% url 'login' %}" class="{% if request.path == '/specials/' %}active{% endif %}">Specials</a></li>
            <li><a href="{% url 'login' %}" class="{% if request.path == '/events/' %}active{% endif %}">Events</a></li>
            
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        
        <div style="display: flex; align-items: center; gap: 10px;">
          {% if user.is_authenticated %}
              <a href="{% url 'user_profile' %}">
                  <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets\img\default_dp.png' %}{% endif %}" alt="Profile" class="rounded-circle" width="40" height="40">
              </a>
          {% else %}
              <a href="{% url 'login' %}">
                  <img src="{% static 'assets\img\default_dp.png' %}" alt="Default Profile" class="rounded-circle" width="40" height="40">
              </a>
          {% endif %}
      </div>
      
    
      </div>

    </div>

  </header>